<!DOCTYPE html>

<html lang="en">
<head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dr. K.T. Tamilmani - Associate Professor, Nehru Memorial College</title>
    <meta name="description" content="Discover the academic and professional journey of Dr. K.T. Tamilmani, Associate Professor of English at Nehru Memorial College, specializing in American Literature and English Language Teaching with over 24 years of teaching experience.">
    <meta name="keywords" content="Dr. K.T. Tamilmani, K.T. Tamilmani professor, Associate Professor Nehru Memorial College, American Literature, English Language Teaching, academic publications, Tamil Nadu professor, Bharathidasan University,nehru memorial collge, Tamil mani nmc,Tamilmani nmc,nmc,Tamilmani">
    <meta name="author" content="Dr. K.T. Tamilmani">
    <!-- Open Graph Tags -->
    <meta property="og:title" content="Dr. K.T. Tamilmani - Associate Professor, Nehru Memorial College">
    <meta property="og:description" content="Dr. K.T. Tamilmani specializes in American Literature and English Language Teaching with over 24 years of experience at Nehru Memorial College. Learn more about his research, publications, and teaching expertise.">
    <meta property="og:image" content="/static/img/tamimani.png">
    <meta property="og:url" content="https://www.tamilmanikt.in">
<link rel="icon" type="image/png" href="/static/img/tamimani.png">

   {% block extra_styles %}{% endblock %}
   <style>
    body{
        height: 100;
        width: 100%;
padding:5px;
    }
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
   </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- BOOTSTRAP 5 -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    {% include 'header.html' %}
    {% block content %}{% endblock %}
    {% include 'footer.html' %}
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>