<section class="container rounded  p-0 pt-0">
  <!-- Footer -->
  <footer class="bg-body-tertiary text-center text-md-start bg-dark text-white rounded">
    <!-- Grid container -->
    <div class="container p-4 bg-dark rounded">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Tamilmani KT</h5>

          <p>
            Thank you For visiting my Website !
            
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-white">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled text-start mb-0">
            <li>
              <a href="/" class="text-white">Home</a>
            </li>
            <li>
              <a href="/about" class="text-white">About Me</a>
            </li>
            <li>
              <a href="/#contact" class="text-white">Contact</a>
            </li>
            <li>
              <a href="/#document" class="text-white">Documents</a>
            </li>
          </ul>
        </div>
       
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 text-white" style="background-color: rgba(0, 0, 0, 0.05);">
       <small class="text-center">            © All Rights Reserved 2024.</small> 
      <a class=" text-center" href="https://www.tamilmanikt.in">www.tamilmanikt.in</a>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      <small>Website Developed by </small> 
      <a class="" href="https://www.linkedin.com/in/rameshkumar-v">Rameshkumar V </a>&#10084;
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>